/********************
CSS ELEMENTI GENERICI 
*********************/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.boxed{                                 /*classe per allineare bene */
    max-width: 1410px;                   /*meglio dare in pixel per fissare bene la pagina o usare % per farla adattare al dispositivo */
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* SPAZI */

.hMin520{ min-height: 520px;}
.space {padding: 3em;}
.col {padding: 10px;}
.padding-top{padding-top: 180px;}
.padding-bottom{padding-bottom: 180px;}

/* ALLINEAMENTO */

.text-left { text-align: left;}
.text-center { text-align: center;}
.text-right { text-align: right;}
.alignItemCenter {align-items: center;}
.alignItemTop {align-items: flex-start;}
.alignItemEnd {align-items: flex-end;}
.space-between {justify-content: space-between;}
.justify-center {justify-content: center;}



/* COLORI SFONDO */

.bg-tomato {background-color: tomato;}
.bg-blue {background-color: blue;}


/* COORE TESTO */

.text-tomato{color: tomato;}
.text-black{color: black;}
.text-white{color: white;}
.text-blue{color: #8ea1e1;}

/* POSIZIONAMENTO */

.col10 {width: 10%;}
.col20 {width: 20%;}
.col25 {width: 25%;}
.col30 {width: 30%;}
.col33 {width: 33%;}
.col40 {width: 40%;}
.col50 {width: 50%;}
.col60 {width: 60%;}
.col70 {width: 70%;}
.col80 {width: 80%;}
.width400 {width: 400px;}
.width270 {width: 270px;}

/* MISC */



/******************
CSS ELEMENTI PAGINA
*******************/
body{   
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    max-width: 1400px;
    justify-content: space-between;
    font-size: 15px;
}

.info{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    padding-top: 0.5rem;
}

header a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

header img{
    display: block;
    height: 30px;
    background-position: center;
    background-size: contain;
}

header i{
    margin-left: 10px;
}

.mainBox{
    display: flex;
    min-height: 1300px;
    margin: 60px auto;
    flex-wrap: wrap;
}

.product{
    min-height: 700px;
    display: flex;
    position: relative;
}

.price{
    font-weight: 600;
    margin-right: 10px;
}

.discount{
    text-decoration: line-through;
}

.heart{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    left: 400px;
    top: 10px;
    height: 50px;
    width: 50px;
}
main i{
    font-size: 20px;
}
main .heart:hover{
    color: red;
}



.img1{
    width: 450px;
    height: 650px;
    margin: 10px;
    background-image: url(../img/1.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.img1:hover{
    background-image: url(../img/1b.webp);
}

.img2{
    width: 450px;
    height: 650px;
    margin: 10px;
    background-image: url(../img/2.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.img2:hover{
    background-image: url(../img/2b.webp);
}

.img3{
    width: 450px;
    height: 650px;
    margin: 10px;
    background-image: url(../img/3.webp);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.img3:hover{
    background-image: url(../img/3b.webp);
}

.img4{
    width: 450px;
    height: 650px;
    margin: 10px;
    background-image: url(../img/4.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.img4:hover{
    background-image: url(../img/4b.webp);
}

.img5{
    width: 450px;
    height: 650px;
    margin: 10px;
    background-image: url(../img/5.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.img5:hover{
    background-image: url(../img/5b.webp);
}

.img6{
    width: 450px;
    height: 650px;
    margin: 10px;
    background-image: url(../img/6.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.img6:hover{
    background-image: url(../img/6b.webp);
}

/* .info{
    flex-direction: column;
    justify-content: flex-start;
    
}
#fine{
    align-content: flex-end;
} */
